<html>

<head>
    <title>Block account email</title>
</head>

<body>
    <div>
        <h1>Desbloqueo de tu cuenta</h1>
        <p>Hola, tu cuenta ha sido bloqueda por haber superado el máximo de intentos en ingresar tu
            contraseña. Pulse en el siguiente enlace para desbloquearla.
        </p>
        <button style="color: #e84393"><a href="{{url}}">Desbloquea tu cuenta</a></button>
    </div>
</body>

</html>