
<head>
    <title>Recovery password email</title>
</head>

<body>
    <div>
        <h1>Recupera tu contraseña</h1>
        <p>Pulse en el siguiente enlace para recuperar tu contraseña.
        </p>
        <button style="color: #e84393"><a href="{{url}}">Recupera tu contraseña</a></button>
    </div>
</body>

</html>